<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Khaatumo State University</title>
  </head>
  <body>

    <h1> Overview</h1>

    <h2>
      <p>Khaatumo State University is located in Somalia.
      It is a world-class higher education institution that offers undergraduate and graduate degrees in many fields -
      Islamic Studies, Mathematics, Science, Computer Science, Engineering, as well as important languages - Somali, Arabic, Turkish, and English.
      </p>
    </h2>

  </body>
</html>
